#pip installations 
#installing tf may require a `conda remove wrapt`
django==2.2.13
djangorestframework==3.11.2
numpy
django-cors-headers
google-api-python-client
nltk
langdetect
tensorflow
tensorboard
pandas
sklearn
tqdm
whitenoise
# only required for heroku deployment
gunicorn
boto
