#pip installations 
#installing tf may require a `conda remove wrapt`
django==2.2.6
djangorestframework==3.9.2
numpy
django-cors-headers
google-api-python-client
nltk
cld2-cffi
tensorflow
tensorboard
pandas
sklearn
tqdm
gunicorn
